@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tektur:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    @apply font-bold;
}

p {
  opacity: 0.8;
}


@layer components {
  .keyfeatures {
    width: 285px;
    height: 285px;
    background-color: #f5f3ff;
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
    margin: 0px auto;
  }

  .keyfeaturesmob {
    width: 380px;
    height: 214px;
    background-color: #f5f3ff;
    padding: 16px;
    text-decoration: none;
    list-style-type: none;
    margin: 0px auto;
  }

  .keyfeaturesmob2 {
    width: 380px;
    height: 239px;
    background-color: #f5f3ff;
    padding: 16px;
    text-decoration: none;
    list-style-type: none;
    margin: 0px auto;
  }
}