@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tektur:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    @apply font-bold;
    line-height: 40px;
    letter-spacing: -2.2%;
}

p {
  opacity: 0.8;
  line-height: 22px;
  letter-spacing: -1.1%;
}

@media (min-width: 1024px) {
  h1 {
    @apply text-[40px] leading-[50px] tracking-[0];
  }

  p {
    opacity: 0.8;
    line-height: 30px;
    letter-spacing: 0;
  }
}


@layer components {
  .navbar-a {
    @apply  relative transition duration-300;
  }

  .navbar-span {
    @apply absolute left-0 -bottom-1 h-[2px] w-0 bg-[#FFBC38] transition-all duration-300 ;
  }
  
  .keyfeatures {
    /* width: 285px;
    height: 285px; */
    background-color: #f5f3ff;
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
    margin: 0px auto;
  }

  .keyfeaturesmob {
    /* width: 380px;
    height: 214px; */
    @apply max-w-[380px];
    background-color: #f5f3ff;
    padding: 16px;
    text-decoration: none;
    list-style-type: none;
    margin: 0px auto;
  }

  .keyfeaturesmob2 {
    /* width: 380px;
    height: 239px; */
    background-color: #f5f3ff;
    padding: 16px;
    text-decoration: none;
    list-style-type: none;
    margin: 0px auto;
  }

  /* ! konten upgrade 2 */
  .upgrade2li {
    @apply bg-white flex flex-col gap-[20px] min-w-[285px] max-w-[360px];
  }

  .upgrade2img {
    @apply h-[150px] ;
  }

  .upgrade2divtengah {
    @apply flex flex-col gap-[10px] px-[20px];
  }

  .upgrade2divtengahimg {
    @apply h-[32px] w-[91px];
  }

  .upgrade2h3 {
    @apply text-[24px] font-medium leading-[32px];
  }

  .upgrade2p {
    @apply text-[16px] leading-[26px] tracking-[0px];
  }

  .upgrade-inside-li {
    @apply text-[16px] leading-[26px] tracking-[0px] font-normal opacity-[80%] list-[square] list-inside;
  }

  .upgrade-img {
    @apply max-h-[59px] max-w-[245px] mt-auto mb-[20px] px-[20px] mx-auto;
  }

  
}